{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
    {{template "repo/header" .}}
    <div class="issue-main container repo-wide-wrapper">
        <ul id="issue-list-nav" class="menu menu-line">
            <li><a href="{{.RepoLink}}/issues">{{.i18n.Tr "repo.issues"}}</a></li>
            <li><a href="{{.RepoLink}}/pulls">{{.i18n.Tr "repo.pulls"}}</a></li>
            <li><a href="{{.RepoLink}}/labels">{{.i18n.Tr "repo.labels"}}</a></li>
            <li class="current"><a href="{{.RepoLink}}/milestones">{{.i18n.Tr "repo.milestones"}}</a></li>
            <li class="right" id="milestone-new"><a href="{{.RepoLink}}/milestones/new"><button id="issue-new-btn" class="btn btn-green text-bold">{{.i18n.Tr "repo.milestones.new"}}</button></a></li>
        </ul>
        <div id="issue-list-container">
            <div id="issue-list-menu">
                <div class="left">
                    <span class="mark open{{if eq .State "open"}} hover{{end}}"><a href="{{.RepoLink}}/milestones">
                        <i class="octicon octicon-milestone"></i> {{.Repository.NumOpenMilestones}} {{.i18n.Tr "open"}}
                    </a></span>
                    <span class="mark close{{if eq .State "closed"}} hover{{end}}"><a href="{{.RepoLink}}/milestones?state=closed">
                        <i class="octicon octicon-issue-closed"></i> {{.Repository.NumClosedMilestones}} {{.i18n.Tr "closed"}}
                    </a></span>
                </div>
                <div class="clear"></div>
            </div>
			{{if .Milestones}}
            <ul id="milestone-list" class="list-no-style">
            	{{range .Milestones}}
                <li class="item" id="milestone-id">
                    <!--<a class="comment" href="#">
                        <i class="octicon octicon-comment"></i> 7
                    </a>-->
                    <p class="title text-bold">
                        <i class="octicon octicon-milestone"></i>
                        <a href="{{$.RepoLink}}/issues?milestone={{.Index}}{{if .IsClosed}}&state=closed{{end}}" class="title-text">{{.Name}}</a>
                    </p>
                    <p class="desc">
                        <i class="octicon octicon-clock"></i> Updated {{TimeSince .Updated $.i18n.Lang}}&nbsp;&nbsp;
                        {{if .DeadlineString}}
                        <i class="octicon octicon-calendar"></i> Due to {{DateFmtShort .Deadline}}
                        {{end}}
                    </p>

                    <div class="content">{{Str2html .RenderedContent}}</div>

                    <div class="action">
                        <p class="status-bar">
                            <span class="closed">{{$.i18n.Tr "closed"}} {{.NumClosedIssues}}</span>
                            <span class="inline-block bar"><span class="inline-block opening" style="width:{{.Completeness}}%"></span></span>
                            <span class="open">{{.NumOpenIssues}} open</span>
                        </p>
                        <div class="action-bar text-right">
                            <a href="{{$.RepoLink}}/milestones/{{.Index}}/edit">{{$.i18n.Tr "edit"}}</a>
                            {{if .IsClosed}}
                            <a href="{{$.RepoLink}}/milestones/{{.Index}}/open">{{$.i18n.Tr "open"}}</a>
                            {{else}}
                            <a href="{{$.RepoLink}}/milestones/{{.Index}}/close">{{$.i18n.Tr "closed"}}</a>
                            {{end}}
                            <a href="{{$.RepoLink}}/milestones/{{.Index}}/delete" class="text-red">{{$.i18n.Tr "delete"}}</a>
                        </div>
                    </div>
                </li>
                {{end}}
            </ul>
			{{else}}
			<div id="issue-no-list" class="text-center">
				<h2><i class="octicon octicon-git-pull-request mega-octicon"></i><br/></h2>
				<h2>{{.i18n.Tr "repo.milestones.nomilestone"}}</h2>
				<a href="{{.RepoLink}}/milestones/new">
					<button class="btn btn-green text-bold">{{.i18n.Tr "repo.milestones.new"}}</button>
				</a>
			</div>
			{{end}}
        </div>
    </div>
</div>
{{template "ng/base/footer" .}}
