{{template "ng/base/head" .}}
{{template "ng/base/header" .}}
<div id="repo-wrapper">
	{{template "repo/header" .}}
	<div class="issue-main container repo-wide-wrapper">
		<div id="issue-view">
			<div class="issue-view-main">
				<div class="pr-title clear">
					<h2 class="pr-title grid-5-6 left">
						<i class="octicon octicon-git-pull-request"></i>
						{{.Issue.Name}} <span class="pr-num">#{{.Issue.Index}}</span>
					</h2>

					<div class="pr-title-btn grid-1-6 right text-right">
						<button class="btn btn-gray btn-radius">{{.i18n.Tr "edit"}}</button>
						<!--&nbsp;&nbsp;
                                            <a href="#"><button class="btn btn-green btn-radius">New Pull Request</button></a>-->
					</div>
				</div>
				<div class="pr-meta">
					<button class="btn btn-small {{if .Issue.IsClosed}}btn-red{{else}}btn-green{{end}} btn-radius">
						<i class="octicon octicon-git-pull-request"></i>
						{{if .Issue.IsClosed}}{{.i18n.Tr "closed"}}{{else}}{{.i18n.Tr "opened"}}{{end}}
					</button>
					<span class="msg">
						<a href="{{AppSubUrl}}/{{.Issue.Poster.Name}}" class="text-bold pr-author">{{.Issue.Poster.Name}}</a>
						<span class="pr-time">{{TimeSince .Issue.Created $.Lang}}</span> ·
						<span class="label radius label-blue">{{.Issue.NumComments}}</span>
						<span class="pr-comments">comments</span>
					</span>
				</div>
				<div class="pr-nav clear"></div>
				<div id="pr-conversation" class="clear">
					<div id="pr-conversation-list">
						<div class="issue-comment clear">
							<a class="author-avatar" href="{{AppSubUrl}}/{{.Issue.Poster.Name}}"><img class="avatar-40 radius" src="{{.Issue.Poster.AvatarLink}}" alt="{{.Issue.Poster.Name}}"/></a>
							<div class="panel panel-radius">
								<p class="panel-header clear"><a class="author-name" href="{{AppSubUrl}}/{{.Issue.Poster.Name}}">{{.Issue.Poster.Name}}</a>
									<span class="date">{{TimeSince .Issue.Created $.Lang}}</span>
                            <span class="action right">
                                <span class="label label-black label-radius">{{.i18n.Tr "repo.pulls.owner"}}</span>
                                <!--TODO: complete this -->
                                <!--<a href="#"><i class="octicon octicon-pencil"></i></a>
                                <a href="#"><i class="octicon octicon-x"></i></a>
                                -->
                            </span>
								</p>
								<div class="panel-content content">
									<div class="markdown">{{.Issue.Content}}</div>
								</div>
							</div>
						</div>
						{{range .Comments}}
						{{if eq .Type 0}}
						<div class="issue-comment clear">
							<a class="author-avatar" href="{{AppSubUrl}}/{{.Poster.Name}}"><img class="avatar-40 radius" src="{{.Poster.AvatarLink}}" alt="{{.Poster.Name}}"/></a>
							<div class="panel panel-radius">
								<p class="panel-header clear"><a class="author-name" href="{{AppSubUrl}}/{{.Poster.Name}}">{{.Poster.Name}}</a>
									<span class="date">{{TimeSince .Created $.Lang}}</span>
                            <span class="action right">
                                {{if eq .PosterId $.Issue.PosterID}}<span class="label label-black label-radius">{{$.i18n.Tr "repo.pulls.owner"}}</span>{{end}}
                                <!--TODO: complete this -->
                                <!--<a href="#"><i class="octicon octicon-pencil"></i></a>
                                <a href="#"><i class="octicon octicon-x"></i></a>
                                -->
                            </span>
								</p>
								<div class="panel-content content">
									<div class="markdown">{{Str2html .Content}}</div>
								</div>
							</div>
						</div>
						{{else if eq .Type 4}}
						<div class="issue-commit clear">
							<i class="mega-octicon octicon-git-commit left"></i>
							<a class="author-avatar left" href="{{AppSubUrl}}/{{.Poster.Name}}"><img class="avatar-24 radius" src="{{.Poster.AvatarLink}}" alt="{{.Poster.Name}}"/></a>
							<a class="sha right" href="#">8e259ba</a>
							<span class="message">Fix: Repo Name can not be converted to lower in the case of backend data storage, or frontend clone link display. or frontend clone link display or frontend clone link display.</span>
						</div>
						{{else if eq .Type 2}}
						<div class="issue-comment clear">
							<a class="author-avatar" href="{{AppSubUrl}}/{{.Poster.Name}}"><img class="avatar-40 radius" src="{{.Poster.AvatarLink}}" alt="{{.Poster.Name}}"/></a>
							<div class="panel panel-radius">
								<p class="panel-header clear"><a class="author-name" href="{{AppSubUrl}}/{{.Poster.Name}}">{{.Poster.Name}}</a>
									<span class="date">{{TimeSince .Created $.Lang}}</span>
                            <span class="action right">
                                {{if eq .PosterId $.Issue.PosterID}}<span class="label label-black label-radius">{{.i18n.Tr "repo.pulls.owner"}}</span>{{end}}
                            </span>
								</p>
								<div class="panel-content content">
									<div class="markdown">{{Str2html .Content}}</div>
								</div>
							</div>
						</div>
						<div class="issue-commit clear">
							<i class="mega-octicon octicon-issue-closed left"></i>
							<a class="author-avatar left" href="{{AppSubUrl}}/{{.Poster.Name}}"><img class="avatar-24 radius" src="{{.Poster.AvatarLink}}" alt="{{.Poster.Name}}"/></a>
                        <span class="message">
                        {{$url := Join AppSubUrl "/" .Poster.Name}}
                        {{Str2html ($.i18n.Tr "repo.issues.open_desc" (TimeSince .Created $.Lang) $url .Poster.Name)}}
                        </span>
						</div>
						{{else if eq .Type 6}}
						<div class="issue-commit clear">
							<i class="mega-octicon octicon-git-commit left"></i>
							<a class="author-avatar left" href="{{AppSubUrl}}/{{.Poster.Name}}"><img class="avatar-24 radius" src="{{.Poster.AvatarLink}}" alt="{{.Poster.Name}}"/></a>
							<a class="author-name" href="{{AppSubUrl}}/{{.Poster.Name}}">{{.Poster.Name}}</a> merged commit <a class="sha right" href="#">8e259ba</a> into repouser:branchname {{TimeSince .Created $.Lang}}
							<span class="message">{{.Content}}</span>
						</div>
						{{else}}
						{{.Type}}
						{{end}}
						{{end}}
						<div class="issue-add-comment clear">
							<a class="author-avatar" href="{{AppSubUrl}}/{{.Issue.Poster.Name}}"><img class="avatar-40 radius" src="{{.Issue.Poster.AvatarLink}}" alt="{{$.User.Name}}"/></a>
							<div class="panel panel-radius">
								<div class="panel-header">
									<ul class="menu menu-line add-nav">
										<li class="js-tab-nav js-tab-nav-show" data-tab-target="#issue-add-comment-form"><a href="#">{{.i18n.Tr "repo.pulls.write"}}</a></li>
										<li class="js-tab-nav" data-tab-target="#issue-add-comment-preview"><a href="#" id="pull-issue-preview">{{.i18n.Tr "repo.pulls.preview"}}</a></li>
									</ul>
								</div>
								<div class="panel-content content">
									<form id="issue-add-comment-form" action="{{AppSubUrl}}{{.RepoLink}}/comment/new" method="post" enctype="multipart/form-data">
										{{.CsrfTokenHtml}}
										<input type="hidden" name="issueID" value="{{.Issue.ID}}"/>
										<input type="hidden" name="issueIndex" value="{{.Issue.Index}}"/>
										<div id="submit-error" class="alert alert-red hide"></div>
										<textarea class="ipt ipt-radius js-preview-input" name="content" id="issue-add-content"></textarea>
										{{if .AttachmentsEnabled}}
										<!--<div id="attached">
											<div id="attached-list">
												<b>Attachments:</b>
											</div>
										</div>-->
										{{end}}
										<div class="submit text-right">
											{{if .AttachmentsEnabled}}
											<!--<div class="pr-attach left">
												<input type="file" accept="{{.AllowedTypes}}" style="display: none;" id="attachments-input" name="attachments" multiple />
												<button class="btn-gray text-bold btn-radius btn attachment-add" id="attachments-button">Attach images...</button>
											</div>-->
											{{end}}
											{{if .IsIssueOwner}}{{if not .Issue.IsClosed}}<button class="btn btn-gray btn-radius text-bold" name="submit" value="close">{{.i18n.Tr "repo.issues.close_issue"}}</button>&nbsp;&nbsp;
											{{end}}{{end}}
											<button class="btn btn-green btn-radius text-bold" name="submit" value="comment">{{.i18n.Tr "repo.commits.comment.add"}}</button>
										</div>
									</form>
									<div id="issue-add-comment-preview" class="js-preview-container">
										{{.i18n.Tr "repo.issues.preview"}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--<div id="pr-conversation-sidebar" class="left grid-1-6">
                        1-4
                    </div>-->
				</div>
			</div>
			<div class="issue-view-sidebar">
				{{template "repo/sidebar_mini" .}}
			</div>
		</div>
	</div>
</div>
{{template "ng/base/footer" .}}
